
<section class="spotlight">

    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <%= link_to @winner.title, work_path(@winner.id), alt: "link to see details of work with most votes", class: "spotlight__link-to" %> by
      <%= @winner.creator %>
    </h2>
    <p class="spotlight__description">
      <%= @winner.votes.length%> votes - <%= @winner.description %>
    </p>
 
  
</section>

<hr class="root-hr"/>


   <section class="top-ten__container">
    <section class="top-ten__list-container"> <h2>Top Movies</h2>
     <ul>
          <% @works.top_ten("movie").each do |work| %>
          <li>
            <h4 class="top-ten-creator">
               <%= link_to(work.title, work_path(work.id), alt: "link to details for a top ten movie") %> <small>by <%= work.creator %></small>
             </h4>
          <% end %>
          </li>
      </section>
   


  

       <section class="top-ten__list-container"><h2>Top Books</h2>
         <ul>
            <% @works.top_ten("book").each do |work| %>
          <li>
            <h4 class="top-ten-creator">
               <%= link_to(work.title, work_path(work.id), alt: "link to details for a top ten book") %> <small>by <%= work.creator %></small>
             </h4>
          <% end %>
          </li>
        </ul>
      </section>
                  

        <section class="top-ten__list-container"><h2>Top Albums</h2>
          <ul>
            <% @works.top_ten("album").each do |work| %>
            <li>
             <h4 class="top-ten-creator">
               <%= link_to(work.title, work_path(work.id), alt: "link to details for a top ten album") %> <small>by <%= work.creator %></small>
             </h4>
            <% end %>
            </li>
         </ul>
        </section>
    
  </section>
 
